/*David Couto 6.813 PS1 Spring 2015*/

* {/*global font and default color esablished*/
    font-family: "Trebuchet MS";
    color: #808080;
  }

html {
    background-color: #eee;
}

#title_translator {
	position:relative;
	top:10px;
	left:15px;
	font-size:55px;
}

td {/*Cells spaced generously to allow for gap between columns*/
    width: 250px;
    horizontal-align:left;
    font-size:30px;
}

table {
    position: relative;
    left: 15px;
}

.wrong {/*style for wrong answer row*/
    color:#FF0000;
}

.cross {/*--style addition for incorrect answer in wrong answer row*/
    text-decoration: line-through;
}

.correct {/*style for correct answer row*/
    color:#0000FF;
}
